[2013-11-26 18:49] alexgorbatchev opened #2 "Thank you + SFTP note"
Thanks for the great module! I suggest adding a note to readme that SFTP isn't supported as it took me a bit of digging to figure that out.

[2013-11-26 20:21] #2 closed, assigned to nobody

[2014-01-17 22:13] mattcodez opened #3 "Auto-reconnect feature"
At my place of work, we have regular connection issues while uploading via FTP. While we'd like to correct these issues at the root cause, we're currently tolerating it by allowing our FTP clients to lose their connection and then automatically reconnect. WinSCP does this and will pick up where it left off in the transfer queue. Grunt-ftp-deploy will just hang on a file (usually the first one), st

[2014-01-28 14:33] Powerplex opened #4 "Cannot send files in multiple destinations"
Hi,

First, I'd like to thank you for this grunt task !

For now I only have one (MAJOR) issue. I linked two files to my FTP server but they both are send to the same folder.

My issue is : Is it possible to send each files in separate folders (the folders already exists) ?
# Here is my code for example :

module.exports = function(grunt) {
    grunt.initConfig({
        pkg: grunt.file.readJSON('

[2014-02-02 21:53] F-Merchant opened #5 "update jsftp"
Hi, last commit of jsftp solves this error:
Error: Unexpected command 125 Data connection already open; Transfer starting.

can you update the dependency?
I tried with no success
Thanks in advance

[2014-02-06 15:54] #5 closed, assigned to nobody

[2014-07-03 10:14] pyrsmk opened #6 "Cannot push files from root directory"
Hi,

I'm facing a weird issue and can't find a way to resolve it. The task is pretty simple :

[code]

Here's the error :

[code]

I also tried with another files but it does the same (so it does not come from the `.htaccess`).

All my other FTP tasks work as well ;)

[2014-07-03 10:34] pyrsmk opened #7 "Should verify for '/' in strings"
The task should verify for slashes at the start and the end of `dest` (and perhaps `cwd`?) and append them if they not exist, because if we forget them the files are pushed with bad path. In my case, I forgot the last slash and all my files went to the root with the last directory appended in the filename :s

[2014-07-03 13:48] Robert-W opened #8 "Upgrade JSFTP to 1.3.0 and investigate adding in auto-reconnect feature."

[2014-07-04 08:08] #6 closed, assigned to nobody

[2014-07-05 06:36] pyrsmk opened #9 "New directory creation"
According to #6, a new directory is not created when pushing files at the root of the `dest`. It could be already fixed by #6.

There's also another case that when we're pushing files and directories into a distant directory (let's say `test`), `ftp_push` tries to create the missing directories into `test` but get a `550` error.

[2014-07-09 19:33] #7 closed, assigned to Robert-W

[2014-07-10 14:16] #9 closed, assigned to Robert-W

[2014-07-17 16:56] #8 closed, assigned to Robert-W

[2014-07-21 13:57] Robert-W opened #10 "Unit Tests"
Implement Unit Testing to ensure future updates don't break already created features.

[2014-08-07 10:48] richardwestenra opened #11 "Create and/or clean remote directory"
Is there any way to have the plugin clean/wipe a remote directory before pushing new files? I'm using it with [grunt-rev](https://github.com/cbas/grunt-rev) and tend to end up with a bunch of alternate copies of my files after a while.

On an unrelated note, I've found that my setup throws an error when trying to push to a directory that does not exist yet, so I need to manually create the remote

[2014-08-11 15:00] #11 closed, assigned to nobody

[2014-08-11 15:01] Robert-W opened #12 "Wipe and/or Sync Feature"
Add a feature to wipe the destination directory that the files will be pushed into and/or a feature to do a proper sync between the working directory and the destination directory.

[2014-08-16 18:11] ivoberg opened #13 ""dest" option for files"
I added a feature to have "dest" option in files so it's possible to define a destination path for the files after the path defined in "options".
Is it possible to contribute to the project, as I would need this to be destributed through npm so I odnt have to send the file to my colleagues, but it would already there on npm install =)

Waiting reply,
Thank you!

[2014-12-12 14:48] pyrsmk opened #15 "Blocks on OVH host"
Hi ;)

I've got domain host on OVH.com and I want to initialize a website by uploading it directly to the server. But it randomly blocks in the first uploaded files without errors. It just hangs. Is there a way to toggle debugging?

[2014-12-23 00:46] #13 closed, assigned to Robert-W

[2014-12-23 00:47] #4 closed, assigned to Robert-W

[2015-01-03 17:33] mpiffault commented on #15
I've got exactly the same problem on OVH host. Hangs at first or second file.

[2015-01-04 13:18] mpiffault commented on #15
I used wireshark to observe the dialog between machines.

    01 user *login*
    02 220-Bienvenue,
    03 220-
    04 220-    On Vous H..berge ?
    05 220-
    06 220-Vous ..tes connect.. sur *servname*.
    07 220 This is a private system - No anonymous login
    08 331 User *login* OK. Password required
    09 pass *passwd*
    10 230-User *login* has group access to:  users
    11 230 OK. Cur

[2015-01-05 15:40] Robert-W commented on #15
Hmm that's very interesting.  I will have to look through some posts about OVH and see what I can dig up.  It seems like I have read a lot about others having issues with OVH but not with similar errors and have came across the occasional 'Bad passive command from server'  with some other plugins. (https://github.com/zonak/grunt-ftp-deploy/issues/57) although no resolution on this one.  Last time

[2015-01-05 15:41] Robert-W commented on #15
Thanks for the wireshark printout, that will definitely help with getting this resolved.

[2015-01-05 15:52] Robert-W commented on #15
Created ticket with JSFTP owner to see if this is something he may be aware of.  https://github.com/sergi/jsftp/issues/113

[2015-01-05 16:14] pyrsmk commented on #15
Good to hear! I hope you'll find something with @sergi ;)

[2015-01-06 21:44] Robert-W commented on #15
Thanks @mpiffault, once I hear something from the guys with the jsftp module I'll make sure to update it here.

[2015-01-13 22:50] navFooh opened #17 "creating folders for nested files"
When you want to upload a file that's nested several folders deep, for example: 'scripts/vendor/requirejs/require.js', the containing folders are not created correctly.

In order to create the parent folders correctly, it seems you have to include:
[code]
Is this expected behavior or are there tricks to make this work correctly?

Cheers, Thijs

[2015-01-13 23:03] Robert-W commented on #17
It should handle that automatically and you should not have to do anything special to make it work.  Which version are you on?
There was a bug in the older version which would cause that to error out and not upload but I believe it was resolved in recent builds.  If your on the latest version (0.2.6 I believe) and this is still happening I will take a look.

[2015-01-13 23:23] navFooh commented on #17
I'm on 0.2.6, but seem to have that problem.
It works when the folders already exist on the server, but when I select a new folder as 'dest' and include:
[code]
I get:
![capture](https://cloud.githubusercontent.com/assets/394452/5731255/da5abd96-9b81-11e4-8b11-b8bfe236e824.JPG)

If I use:
[code]
I get:
![capture2](https://cloud.githubusercontent.com/assets/394452/5731284/21f7b6fe-9b82-11e4-89ce-b1

[2015-01-13 23:50] Robert-W commented on #17
Ok, Ill take a look and post here once I can find something.

[2015-01-14 00:42] Robert-W commented on #17
Alright I think I have a fix for you, if your up for testing this patch out I will put the instructions below, if not, I plan on pushing to git later tonight and publishing to npm sometime tomorrow after some more testing so you can grab the latest from either once its pushed.

Here is the patch if your interested, in your node_modules directory, look for
<code>grunt-ftp-push/tasks/ftp_push.js</co

[2015-01-14 08:56] navFooh commented on #17
Hi Robert, just tested it and works perfectly now. Thanks!

[2015-01-14 14:01] Robert-W commented on #17
Great thanks  The patch is up now on npm.

[2015-01-14 14:01] #17 closed

[2015-01-14 19:40] navFooh opened #18 "Files created as folders"
Me again.. Noticed an issue in the new release.

With the same setup as issue #17, parent folders are now created correctly. But the uploaded file will be created as a folder on the server:

![image](https://cloud.githubusercontent.com/assets/394452/5746042/47edd0fe-9c2d-11e4-97a0-d0df16a99dda.png)

Then it fails to write the file itself.

[2015-01-14 20:09] Robert-W commented on #18
Is this version 3.0,   I noticed this same behavior on my initial patch but then made some changes and it worked on my side  If you are on 3.0 I will look again but that looks like the results from 2.8.

![screen shot 2015-01-14 at 3 06 36 pm](https://cloud.githubusercontent.com/assets/1177959/5746634/01a4f740-9bff-11e4-9033-42e50b48af97.png)

[2015-01-14 20:11] Robert-W commented on #18
lines 102 to 112 should look like below:

<pre><code>
fileObjects.forEach(function (fileItem) {
      if (fileItem.dest) {
        // Prepare the destination, then push into array for processing
        preparedDestination = destination + normalizeDir(fileItem.dest);
        destinations.push(preparedDestination);
      } else {
        // Prepare the destination, then push into array for processi

[2015-01-14 20:14] navFooh commented on #18
You're right I'm on 0.2.8. I did an:
```npm update grunt-ftp-push --save-dev```
and it did update, so I assumed I was on the latest version.

I'll check out the latest one and confirm in a bit

[2015-01-14 20:19] navFooh commented on #18
All working properly, thanks!

[2015-01-14 20:19] #18 closed

[2015-01-14 20:20] Robert-W commented on #18
Awesome, good to hear, sorry about that.

[2015-01-14 21:17] sergi commented on #15
Hi there,

It definitely seems that `pasv` is getting in the way before the `226` response comes back. The latest code in jsftp has a new debug mode, it would be interesting to see what's the output with that enabled. Using `npm link` should allow you to test it. The debug mode is activated by setting the `DEBUG` environment variable to `1`, as in `DEBUG=1 node server.js`.

[2015-01-15 16:07] Robert-W commented on #15
Hi @sergi,

Thanks for responding here.  I personally don't have an account to OVH to test so let me see if @pyrsmk  or @mpiffault would be willing to run a test for me.  Environment variables in grunt require an additional plugin which I would like to avoid so I am going to update this plugin to use jsftp 1.3.9 and give them an option to debug.  I noticed setDebugMode is going to be deprecated so

[2015-01-16 17:41] sergi commented on #15
Hi @Robert-W,

The version should actually be `1.4.0`, it has just been published. I think the best way to test that would actually be to make a test with jsftp only first, not using `grunt-ftp-push` and just doing a `put` using it siilarly to how I do it in jsftp tests. Just a suggestion.

[2015-01-19 07:19] zzbo opened #19 "An error message will appear after the FTP connection closed."
Recently encountered a problem when I using the grunt-ftp-push to upload some files to FTP server. When the files are transferred successfully, an error message "Fatal error: write after end" will appear on the console, my grunt-ftp-push configuration is as follows:
[code]

and then I try to debug the grunt-ftp-push,  I add 'ftpServer.destroy();' after
[code]
in the function 'closeConnection' and

[2015-01-19 07:30] zzbo commented on #19
I using grunt-ftp-push 0.3.2.

[2015-01-20 15:01] Robert-W commented on #19
So it sounds like you may have fixed the error you were seeing by adding ftpServer.destroy() to the closeConnection function.  Can you verify that all your flies are uploaded correctly after running this?

Googling this error unfortunately does not turn up much, it seems all posts related to it have to deal with issues in browserify or some unit testing module, so Im not positive about what it is

[2015-01-21 02:46] zzbo commented on #19
I confirm this case once again, I found grunt-ftp-push require 'jsftp' module, and then I try to find  a similar problem in ‘jsftp’ module. I get a issue https://github.com/sergi/jsftp/issues/71

[2015-01-21 14:31] Robert-W commented on #19
Ill see if I can take a look this weekend, Is it at least completing the file transfers or is this happening mid transfer?

[2015-01-22 02:42] zzbo commented on #19
It happens when the transfer is complete.

[2015-01-22 14:55] Robert-W commented on #15
Thanks @sergi,

I'm in the process of rewriting this plugin with unit tests so Ill make a separate file to test specifically the put commands kind of how your doing with jsftp.  I'll see if I can get access to an OVH account or get someone with access to one to run these tests for me and put the results of running in debug mode up here.  Thanks for the help, much appreciated.

[2015-01-22 15:12] Robert-W commented on #19
Ok thanks,  Ill see what I can come up with this weekend.

In the meantime, if you have a chance to run this again, can you try setting debug to true in your options and pasting the last bit of statements it prints out.

<pre><code>
options: {
  host: 'testhost.com',
  username : 'testuser',
  password : 'testpassword',
  dest: '/testdir/',
  port: 21,
  <strong>debug: true</strong>
},
files: [

[2015-01-22 16:57] lmeyer commented on #15
Hello,

I'm experiencing the problem on OVH FTP.

I can help you by testing what you want. Tell me how to run the tests and what is helping you to debug.

Regards,

[2015-01-22 17:08] Robert-W commented on #15
Awesome thanks @lmeyer ,

Im gonna write some more specific tests this weekend to specifically test the jsftp portion but in the meantime if you want to try setting debug to true in the options like so:
<pre><code>
ftp_push: {
  default: {
    options: {
      authKey: "serverA",
      host: "sample.server.com",
      dest: "/html/test/",
      <strong>debug: true</strong>
    },
    files: [

[2015-01-22 19:10] lmeyer commented on #15
Hello,

I pasted the first commands and the 3 last transfers
The last one is just freezing at last line of the debug output

Hope it helps,

[code]

[code]

[2015-01-22 19:11] lmeyer commented on #15
I'm available to do more tests

[2015-01-22 19:45] Robert-W commented on #15
Great Thanks @lmeyer , Im going to write some more specific unit tests this weekend and I'll let you know how to run them. It will basically be a jsftp only test to try to put multiple files on to OVH server and do so in debug mode to give us some more specific details.

Hey @sergi, @lmeyer was kind enough to run my plugin in debug mode and paste the results here, is anything in there jumping out

[2015-01-23 06:44] zzbo commented on #19
![qq 20150123144005](https://cloud.githubusercontent.com/assets/3053640/5870712/c0c7dd80-a30d-11e4-8947-8d3b617e8d85.jpg)
I've added 'debug: true' to the configuration as you say, but the error message does not change.

[2015-01-23 14:38] Robert-W commented on #19
Hmm crap, I was hoping to see something like at the end of this comment below.  Anyway thanks for trying, Ill try to dig into this tomorrow and Sunday and see what I can come up with.  I read on that post that you linked that someone had some success using ftpServer.destroy(); instead of ftpServer.raw.quit(); so maybe I can clean up the closeConnection function a little and see if that helps.

<pr

[2015-01-23 14:58] Robert-W commented on #19
One thing you can possibly try in the meantime is the closeConnection function.

Try changing this:
<pre><code>
function closeConnection(errMsg) {
    if (ftpServer) {
      ftpServer.raw.quit(function(err, res) {
        if (err) {
          grunt.log.error(err);
          done(false);
        }
        grunt.log.ok("FTP connection closed!");
        ftpServer.destroy();
        done();
      });

[2015-01-26 00:03] Robert-W commented on #15
Hey @lmeyer ,

  If your still up for it I committed a new test we can try.  The steps for running the test are as follows:

- Clone the repo
- <code>npm install</code> to install dependencies
- Edit <code>test/jsftp/jsftpSpec.js</code>
    - there is a defaults object at the top, change the user, pass, and host
    - there is also an <code>iterations</code> variable below the defaults to control

[2015-01-26 01:11] lmeyer commented on #15
Hello,

I did some tests :

1. With the test file you provided
  - Seems to be ok with, 5, 10, 20, 30, up to 80 iterations
  - Between 80 and 100 iterations i have random results (sometimes works, sometimes not)
  - With 100 iterations, i have results like
[code]
Sometimes i have this one : i retrieve the Test.txt file on the FTP and the test is freezing
[code]
2. With a bigger file 5Ko the errors

[2015-01-26 01:21] lmeyer commented on #15
I tried the same tests on an "older"/different OVH FTP.

Here are the resuls :

1. With you test file
  - Errors occurs from 5 iterations. I got a new message
[code]
  - I have almost always the timeout error
[code]
2. Didn't need to try with bigger files

[2015-01-26 03:45] Robert-W commented on #15
Thanks a lot man, I think this info will definitely be helpful.

I was hoping it would fail with 5 iterations and did not think it would need to go so high.  Strange it's working now, I wonder if I need to modify the tests to push one of several files of different sizes and types and just keep iterating over the different files.

The timeout error is because jasmine-node defaults to timeouts of 5

[2015-01-26 03:48] Robert-W commented on #15
@sergi We have some test results, Can you check these out when you have a minute and let me know if anything sticks out.

[2015-01-26 22:36] lmeyer commented on #15
I pulled and tried different size, iterations, and FTPs

I get same errors as before :

[code]
and
[code]

Regards,

[2015-01-27 18:52] Robert-W commented on #15
Ok thanks, the timeout will have to be adjusted to be a time long enough time to complete the tests otherwise it will throw that final error but that error is not really effecting anything anyway.  I wish with this version of jasmine-node they did not enforce the default timeout and let me decide when to end the test by calling done() but don't think that's possible on this version.

[2015-02-25 08:40] yonatanmn opened #20 "ftp_push with more than one destination"
I'm using grunt-ftp-push to upload my files to server.

I'm trying to register two different tasks - BuildPushDev and BuildPush, so I tried this:

     ftp_push: {
        dev:{
            your_target: {
                options: {
                    username: "xxx",
                    password: "yyy",
                    host: "server.com",
                    dest: '/site/wwwroot/dev/'

[2015-02-25 14:29] yonatanmn commented on #20
got my answer...
https://stackoverflow.com/questions/28702056/grunt-ftp-push-with-more-than-one-destination

[2015-02-25 14:29] #20 closed

[2015-03-07 18:14] emalherbi opened #21 "Structure Remains"
Hey There!

I would like to copy the files from "docs/_site" to "www/bla", but when copy the structure remains.

Here is my code.
[code]
in ftp:
www/bla/docs/_site/index.html

but it should be:
www/bla/index.html

[2015-03-08 20:14] Robert-W commented on #21
Hey @emalherbi, it should be doing that, can you verify that you are on the latest version (0.3.2)?

If you are and are still seeing this I will take a look as soon as I can.  I am at an esri developer conference through March 13th so I may not have a chance to look into it til then.

[2015-03-10 00:16] emalherbi commented on #21
sorry man. I updated the package and now worked.

[2015-03-10 00:16] #21 closed

[2015-03-10 20:48] Robert-W commented on #21
Awesome, great to hear.

[2015-04-01 13:44] iandevlin opened #22 "Large file fails to transfer with "Error: Passive socket timeout""
When trying to transfer a large file (822MB) it constantly fails to transfer, aborting before it's finished with:
"<file> failed to transfer because Error: Passive socket timeout"

I have tried different values for the "keepAlive" setting (and also "timeout" which jsftp has), with the same results.

It works fine on smaller files.

Any ideas on what I might be able to change?

[2015-04-01 15:02] Robert-W commented on #22
Hmm, I have not personally tested with a file that large.  I can try something this week and see what i can do.  It seems jsftp does have support for streaming data through sockets, using their getPutSocket method might help but Im not sure on a file that large.  With the current plugin I don't think there is anything to configure to make it work apart from updating the source to try using the get

[2015-04-01 15:07] Robert-W commented on #22
Note for self: this may be helpful - https://github.com/sergi/jsftp/pull/35/files

[2015-04-02 10:03] iandevlin commented on #22
Hi Robert, many thanks for your swift response! It's not the end of the world for me if this doesn't work, as I can still manually transfer the file over WinSCP and it doesn't need to be transferred that often.

I will try what you suggested though when I have a moment to do so.

Thanks again.

[2015-04-08 19:39] Robert-W commented on #22
Ok sounds good.  I will go ahead and close this out for now and make a note to add the streaming option for large files.  Thanks.

[2015-04-08 19:39] #22 closed

[2015-04-22 01:28] liuyuns opened #23 "Extra folders is being created when file provided cwd other than '.' or './"
Assume we want to upload following file

files:[
          {expand: true,cwd: 'test/sub',src: ['**/*']}
]

and under test/sub we have one file: dummy.txt

The result is following:
1. dummy.txt --> dest
2. dest/test/sub, empty folders! we don't want this in my opinion.

[2015-04-22 19:48] Robert-W commented on #23
Hi @liuyuns,

I'll take a look at this over the weekend and try to merge it.  Im pretty busy for the next few days with work and school but I would agree, empty folders getting pushed is pointless.  Just to make sure I am understanding you.

your local structure looks like this (assuming test is in the root where the Gruntfile is):
<b>test</b>
<b>test/sub</b>
<b>test/sub/dummy.txt</b>

You want so

[2015-04-23 01:29] liuyuns commented on #23
Hi Robert,
Thank you for the quick reply, yes, your understanding is exactly right :)

[2015-04-23 15:10] Robert-W commented on #23
Ok great, Ill check it out over the weekend and if everything looks good Ill merge it and add this case to the unit tests which will be my new version.  Thanks

[2015-05-20 14:24] franzliedke commented on #12
This library works really well for me, good job!
This feature, however, would make it perfect. =)

[2015-05-20 14:32] Robert-W commented on #12
Thanks @franzliedke, Its definitely something I'm looking into, I have been so caught up in other projects I have not had a chance to get some more updates out for this but there will hopefully be some in the next month.

[2015-05-20 15:05] franzliedke commented on #12
I might be able to hack together a pull request. What would you want this to look like?

My proposal:
* a simple Boolean `wipe` option
* if that option is enabled, before creating the directories, we completely wipe the directory (provided that it's easy to do using jsftp).

[2015-05-20 15:19] Robert-W commented on #12
Yea that sounds good to me, I will probably to put a big use at your own risk warning in the docs letting people know to make sure its configured right before they wipe themselves out lol but what you have listed looks good

[2015-05-20 15:37] #23 closed

[2015-08-11 19:58] rarila opened #30 "Suggestion: use of node path module"
I'd like to suggest using the [node path module](https://nodejs.org/api/path.html) (the ``path.posix`` part) sometime in some refactoring in the future (as I know we all are short of spare time).

I believe it could greatly simplifiy the path handling (``normalize()``, ``join()``, ``dirname()``, …) and make it more secure. E.g. I don't know if *grunt-ftp-push* would handle paths like ``/foo/./..//

[2015-08-11 20:06] Robert-W commented on #30
Probably would not handle that path gracefully (although I have not tried one like that so your guess is as good as mine).  I agree that this will simplify the path handling and would be a good addition.  I have a new branch on my local machine at home I have been meaning to push up which will have unit tests and I can include this in that one as well

[2015-08-11 20:14] Robert-W commented on #19
Closing this issue as inactive for some time.  If issue shows up again we I can reopen this.

[2015-08-11 20:14] #19 closed

[2015-08-22 13:21] almilo commented on #12
Hi there,

I have implemented a pull-request with recursive directory removal: https://github.com/Robert-W/grunt-ftp-push/pull/31

cheers,
Alberto

[2015-08-23 16:27] andrewmcwatters commented on #12
+1, would like to see this soon. Just started using grunt-ftp-push, and it's pretty great!

[2015-08-24 20:12] Robert-W commented on #12
Hey Guys, I will take a look at getting this added in, looked at the pull request and this looks pretty good. Im preparing to release a new version which is a major rewrite that has testing and several other minor optimizations and fixes in it.  I think I will try to get this in to that version and released as soon as possible.

[2015-08-24 21:32] almilo commented on #12
Hi Robert,
Good to hear! Many thanks once again and looking forward to the next release :)

[2015-09-02 19:13] Robert-W opened #32 "Merge in Branch 0.4.0 to master, looks to be ready for production"

[2015-09-02 19:14] Robert-W commented on #10
In branch 0.4.0 and soon to be released.

[2015-09-02 19:14] #10 closed

[2015-09-03 21:16] #32 closed

[2015-09-06 10:52] yonatanmn opened #33 "new version"
hi,
not sure what's changed in 0.4.0, but it gives me :

[code]

0.3.6 works fine

[2015-09-06 14:08] Robert-W commented on #33
Hmm, looks like one of the new dependencies uses node-gyp and Python. I don't have a windows machine which is probably why I didn't see this. I'm guessing either eslint or jest.  I'm out at the moment but I'll check in a few hours when I get back, probably just need to remove one of those from package.json

[2015-09-06 14:23] Robert-W commented on #33
Ok this most certainly is due to using the jest-cli.  Looks like it has issues with running on windows unless that machine has Python and Visual Studio. There are some articles about this on stack overflow. Use 0.3.6 for now and I'll try to swap out the testing framework for one that works everywhere.

[2015-09-06 17:39] Robert-W commented on #33
Ok just pushed 0.4.1, its now using a different testing framework which does not depend node-gyp.

[2015-09-06 17:39] #33 closed

[2015-09-09 19:56] Robert-W commented on #3
Closing this for now due to inactivity, have not seen a way to do this without modifying jsftp.  If this request comes back I will forward a feature request to jsftp and see if its something that can be implemented there.

[2015-09-09 19:56] #3 closed

[2015-09-09 20:13] Robert-W commented on #30
the path module is in 0.4.0 and 0.4.1.  I have committed another update to master which should be released relatively soon as 0.4.2, and it uses path.posix instead of just path.  Closing this as it will be released soon.

[2015-09-09 20:13] #30 closed

[2015-09-10 09:36] yonatanmn commented on #33
Cool, Thanks!

[2015-09-10 11:32] rarila commented on #30
:+1: Great to hear!

[2015-09-14 14:24] rarila commented on #30
Works, thanks!
Could you please tag 0.4.2!

[2015-09-14 14:51] Robert-W commented on #30
Yup will do, I'm gonna try to deploy it this week sometime while Im at school

[2015-09-19 22:13] D0rx opened #35 "Struggling with creating folders"
So I'm trying to move files from my local directory to my FTP-server, where the FTP has no dir-structure at the moment.

I've set
`{...
dest:"./"},
files:[{
expand:true,
src:["**"]
}]`

As far as I've understood it, lacking folder structure will be created automatically, but when I try this out, I get `Error 553 Prohibited file name: css\style.css`

Any help would be greatly appreciated

[2015-09-20 01:00] Robert-W commented on #35
It should create directories for you if they are not already created but I will try your configuration a little later tonight and see what it produces.  That error is not one I have seen very often, the only other time I heard of it was when someone was trying to push an ```.htaccess``` file to their server and there was server settings preventing hidden files from being pushed.

[2015-09-20 01:48] Robert-W commented on #35
Ok so I just tried a similar configuration and things uploaded without any issue, Do you have any other server you can try the same configuration on and see if it works?  Im wondering if it's something with that particular server.

[2015-09-20 09:18] D0rx commented on #35
Tested it on another server where it seems to be working as intended. Guess the server provider I'm using are a bit restrictive. Thanks for the quick reply!

[2015-09-21 01:58] Robert-W commented on #35
Ok, no problem.

[2015-09-21 01:58] #35 closed

[2015-10-14 16:05] gkontos opened #37 "503 Bad Sequence of Commands Issue"
I had this problem when transferring files to a filezilla server. I saw the following within the server logs:

This happens more or less randomly. I was able to fix this issue by changing the processFile function in ftp_push.js to include an additional PASV command :

var processFile = function processFile (err) {
      if (err) {
        grunt.log.warn(messages.fileTransferFail(file.dest, err));

[2015-10-18 08:41] doodirock opened #38 "SFTP?"
Just wonders if SFTP is an option.  I didnt see anything within the list of options.

[2015-10-20 14:02] Robert-W commented on #38
Hey sorry for the late reply, Ive been out with the flu this past week.  At the moment it is not supported.  Im using JSFTP for my ftp library and I don't think he supports it yet, there was a discussion here (https://github.com/sergi/jsftp/issues/39) but no clear resolution and I don't see anything in his docs mentioning support for it as of today.

This may be something supported in the future i

[2015-10-20 14:04] Robert-W commented on #37
Hey sorry for the late reply, Ive been out with the Flu for the last week. I though JSFTP was doing that automatically in versions after 1.5.1 but if not then maybe I need to add it in, this is the first time I have seen that one before.

Could you possibly run it in debug mode, using `debug: true` in your options and paste that info here?

[2015-10-21 17:24] gkontos commented on #37
No sweat.  Thanks for looking into it.  The output below is from version 0.4.3 of grunt-ftp-push.

[4mRunning "ftp_push:test" (ftp_push) task[24m
DEBUG: user_command"user webdev"DEBUG: event:connect{}DEBUG: response{
  "code": 220,
  "text": "220-FileZilla Server 0.9.53 beta\n220 srv200",
  "isMark": false,
  "isError": false
}DEBUG: response{
  "code": 331,
  "text": "331 Password required for

[2015-10-21 17:31] gkontos commented on #37
The following output is what I see if I add an additional pasv command before the stor command.

[4mRunning "ftp_push:test" (ftp_push) task[24m
DEBUG: user_command"user webdev"DEBUG: event:connect{}DEBUG: response{
  "code": 220,
  "text": "220-FileZilla Server 0.9.53 beta\n220 srv200",
  "isMark": false,
  "isError": false
}DEBUG: response{
  "code": 331,
  "text": "331 Password required for we

[2015-10-22 16:46] Robert-W commented on #37
Thanks man, Ill look over these when I have some spare time and will probably submit a ticket to JSFTP about this with these logs and see if Sergei(maintainer of JSFTP) has any ideas.  In the meantime, If it works with the extra passive command then keep using it and I will try to push an update soon with that command in there.  Thanks again.

[2015-10-22 20:52] gkontos commented on #37
Thanks.  I did chime in on a similar ticket with jsftp,  https://github.com/sergi/jsftp/issues/118#issuecomment-148405621 .

[2015-11-05 14:37] JacobLett opened #39 "Does this work with FTPs TLS explicit?"

[2015-11-05 15:44] Robert-W commented on #39
I don't believe it does, It's just leveraging JSFTP and its functionality for all the FTP features.  So this plugin only supports things they have implemented.  I have seen a PR to merge in some basic functionality but nothing that would be useful for this plugin, See <a href='https://github.com/sergi/jsftp/pull/110'>https://github.com/sergi/jsftp/pull/110</a>

[2015-11-06 13:30] JacobLett commented on #39
Thank you Robert. I am going to ask my server admin can just allow regular FTP since I am just creating sending theme files. Thank you for sharing this it really helps development.

[2015-11-06 15:20] Robert-W commented on #39
Ok sounds good, and no problem.

[2015-11-06 15:20] #39 closed

[2015-12-16 16:31] Robert-W commented on #15
Closing due to inactivity

[2015-12-16 16:31] #15 closed

[2015-12-16 16:32] #38 closed

[2016-01-09 13:32] MythicAngel opened #40 "Hide username and ftp details display via config"
When I used it in Travis-ci, I noticed that my ftpUsername and ftpHost was displayed in output log. It will be a nice inclusion if I can skip these entries automatically :-)

Great plugin :thumbsup:

[2016-01-11 13:25] Robert-W commented on #40
Which tests are you running, none of my tests log any actual credentials? They just log dummy ones used to validate helper functions.

Im relatively new to Travis CI so Im not sure how to do something like this off the top of my head but those logs should only be visible when you log in.  I would have to read into Travis but I am not sure their is an easy way to hide those from the output, apart f

[2016-01-12 03:59] MythicAngel commented on #40
Hi Robert,

I have created a pull request :-)
To understand this, please go to this build first: https://travis-ci.org/MythicAngel/BanglaDateJS/builds/101255653 and navigate to line 352~361. Here, ftpUsername (seorai7) and links are my personal ftp url and they are securely provided (and hidden) via environment settings in travis (line 84-86).

I have provided necessary comments about the pull req

[2016-01-12 13:31] Robert-W commented on #40
Ahh ok, I see what you mean, sorry I misunderstood.  I'm at work at the moment but I will try to merge it in, add some documentation, and republish a new version tonight.  Thanks for pointing this out.

[2016-01-12 13:31] #40 closed

[2016-01-17 17:53] luisgagocasas opened #42 "Warning: normalize"
I have this problem because susede ?

Running "ftp_push:sample" (ftp_push) task
Warning: Cannot call method 'normalize' of undefined Use --force to continue.

[2016-01-17 23:00] JasonEtco commented on #42
I'm having this problem as well. Using this package in the same project as usual, so it must be some new update thats causing it.

[2016-01-18 04:36] Robert-W commented on #42
Hmm, there was an update in september to change `path.normalize` to `path.posix.normalize` and all other calls to `path` to use `path.posix`.  What system are you guys using?

I wonder if changing the calls from `path.posix` to `path` or `path.win32` would resolve this issue.

Also, are you running the latest version(0.4.4)?

[2016-01-18 17:14] JasonEtco commented on #42
I'm using Ubuntu, if that helps. JSFTP version is 1.5.3, and I am using 0.4.4 for this. I don't know JS well enough to change the calls you mentioned, but if you point me in the right direction I can figure it out.

[2016-01-19 14:20] Robert-W commented on #42
Hey @JasonEtco.  I can put up a sample file for you to try using or push a patch version to see if it fixes it for you, might be a day or two before I get the time to make the changes, test, and push a new build .  In the meantime if you want to test something out and see if it fixes it for you, I am including instructions below.

1. In `grunt-ftp-push/tasks/ftp_push.js` around line 157, change th

[2016-01-19 15:14] JasonEtco commented on #42
@Robert-W thanks for getting back. I tried that out, and while I do not get the original error message, I now get: `Fatal Error: connect ETIMEDOUT`

[2016-01-19 17:58] Robert-W commented on #42
Hmm, can you post your config that your using and any terminal output you are seeing? That sounds like it is having trouble connecting to your FTP server.

[2016-01-19 18:04] JasonEtco commented on #42
@Robert-W Sure. Here is a screenshot of the full terminal output (fyi I'm using Jekyll and some other Grunt build tasks):

http://i.imgur.com/fbj7ugb.png

The relevant content of my Gruntfile.js:
[code]

If you need anything else, let me know! Thanks again for the help.

[2016-01-19 18:09] luisgagocasas commented on #42
I found the solution to my problem . was that had node and npm date. so now I have .

-v nodejs
v5.4.1

NPM -v
3.5.3

Now if it works perfectly and grunt -ftp -push .

In advance thanks for the concern.

[2016-01-19 18:11] luisgagocasas commented on #42
I found the solution to my problem . was that had node and npm date. so now I have .

-v nodejs
v5.4.1

NPM -v
3.5.3

Now if it works perfectly and grunt -ftp -push .

In advance thanks for the concern.

[2016-01-19 18:12] Robert-W commented on #42
Thanks @luisgagocasas.

@JasonEtco Can you verify that you are able to connect to those folders on your server?
Im not seeing any errors from the initial code, the first output should be something like this:
`<username> successfully authenticated` or `Could not authenticate with <username>`

[2016-01-19 18:13] Robert-W commented on #42
If the change fixed the path issue, I may close this ticket and reopen a new one for the timeout error as that seems like a different issue.

[2016-01-19 18:28] JasonEtco commented on #42
@Robert-W

It seems that my original webhost, GoDaddy, changed their login system to require ftp. when connecting to the server. They didn't tell me that -.-

But now I have no problems, everything is perfect.
Thanks so much for your help!

[2016-01-19 20:59] Robert-W commented on #42
@JasonEtco.

Great, glad to hear.

Im gonna leave this open as a reminder to make those updates to path.posix for the next version, so keep using the one you edited for now, but there will be a new release marked as 1.0.0 coming this week sometime with those fixes.

[2016-01-19 21:01] Robert-W commented on #42
Note to self:
Use `path.posix` if it exists, otherwise use `path` in it's place.

[2016-01-19 21:05] JasonEtco commented on #42
Actually I'm not sure you need to, updating Node also fixed the original issue for me. Might have just been some version issues

[2016-01-19 21:31] Robert-W commented on #42
Ok, that's great.  I will leave it as is then. Thanks for the update.

[2016-01-27 10:34] evanplaice commented on #37
ref: https://github.com/evanplaice/node-ftpsync/issues/27

[2016-02-15 21:00] adammeyer commented on #12
+1

[2016-03-01 13:49] janeriklysander opened #44 "Destination configuration"
I have the following scenario in a angular-fullstack application I'm trying to write a deploy-task for:

When building the application it gets built to `dist/client` and when deploying I want it to deploy directly to the root.

This is the configuration I have so far:
[code]

What I thought I could do was to simply add `dest: '/'` to that configuration and it would move all files from dist/client/

[2016-03-01 16:30] Robert-W commented on #44
Hey @janeriklysander, this is a perfectly fine way to contact me for questions on this plugin and I have a few for you.

Can you post what your src evaluates to in your files array?
And what is the end result of this, for example where on your host are these files getting deployed to?

Setting the dest in your options sounds like what you want.  For example, if your configuration is like so:
[code

[2016-03-02 06:46] janeriklysander commented on #44
Oh great, cheers.

The src is going to evaluate to `dist/client/**` and the root of the FTP site is the webroot and when I deploy now this is what gets uploaded to the root like this: `wwglbn10349/dist/client/**` and I would want it as just `wwglbn10349/**`, does that clarify it?

I tried putting `dest: '/'`and also just `dest: ''` but that doesn't place the contents of `dist/client` in the webroo

[2016-03-02 15:10] Robert-W commented on #44
Ahh ok, Yea try putting the dest in your files options as well, by default, this plugin mirrors your local directory structure at the `dest` you configure at the root, but you can force files to push to a different root if you want by using the other `dest` option.  Try something like this:
[code]

Adding the second dest configuration in the files object would take something like `dist/client/**`

[2016-03-03 08:45] janeriklysander commented on #44
I've tried putting `dest: '/'` in my files options but the results are the same I'm afraid.

This is my current configuration:
[code]

I am running version **0.4.4** if that is any help.

[2016-03-03 12:51] Robert-W commented on #44
Hmm, that is the latest version, Ill change the label to bug and look into this a little later today.  What you have above should work.

[2016-03-04 14:39] Robert-W commented on #44
@janeriklysander
I have something for you to try.  I forgot I am removing cwd from the filepath to push matched files, this supports starting at sub-directories.  This would be the better approach for what your trying to do.  So essentially you would specify your cwd as `<%= yeoman.dist %>/<%= yeoman.client %>` and src as `['**']`.  That will take everything from  `<%= yeoman.dist %>/<%= yeoman.cl

[2016-03-07 11:41] janeriklysander commented on #44
That worked like a charm, thank you very much! I was wondering what the cwd meant but I couldn't find anything in the documentation about it. Might I suggest adding something about it?

Again, thanks, everything works as intended now!

[2016-03-07 11:41] #44 closed

[2016-03-07 16:47] Robert-W commented on #44
Yea I can do that. Ill create a new issue for now as a reminder as I probably wont be able to get to it til next week.

[2016-05-25 19:11] noerw opened #45 "FR: only push modified files since last push"
the mtime (and size?) of both the local file and remote file could be compared, and then decided, whether to push a file or not.
this might create some networking overhead, but would quickly write off with large files.
this could be configured for a target via an option
[code]
or
[code]
where `serverTimeOffset` defines the difference between local and remote clock

[2016-05-25 22:31] evanplaice commented on #45
@noerw Comparing files based on mod time is the issue because the FTP protocol wasn't designed with incremental sync in mind.

The FTP protocol doesn't include a command to fetch the server time, let alone an easy/standard way to extract the timezone offset.

The only hacky approach I've found to workaround this limitation is to create a temporary file on both the local and remote so the timestamp

[2016-05-26 13:21] Robert-W commented on #45
Hey Guys,

This is something I have thought about adding but just have not had a chance to work on as I am a little preoccupied with work and a couple of other projects at the moment.  Making extra trips to the server to pull down files and look at last modified times or creating temp files in both locations is not ideal in my opinion, and there are not any simple commands to get all last modified

[2016-05-26 17:56] evanplaice commented on #45
I already maintain node-ftpsync and grunt-ftpsync as well as many other projects so, not looking to pick up any more.

I'm game to discuss about the specifics.

[2016-05-26 18:37] Robert-W commented on #45
I hear ya, the concept is really simple and there is a couple of ways of doing it.  Depending on how you architected your modules the implementation should be simple as well.  It would just require storing a key-value list in a file somewhere locally where the key is the path to the file and the value is a content hash/file stats/ or some other method for uniquely identifying the state of a file.

[2016-06-10 13:32] Robert-W commented on #45
@noerw I will be taking a look at this over this weekend and next weekend and be posting updates here, but am hoping to have this implemented in the next week or two

[2016-06-23 13:13] Robert-W commented on #45
UPDATE:  Sorry for the delays, I have a branch with some passing test cases, just need to integrate it across the project and document it and it will be deployed soon.

[2016-07-07 17:18] Robert-W commented on #45
This is finally out, you can test on version 1.1.0

[2016-07-07 17:18] #45 closed

[2016-08-01 03:48] joeymigs opened #47 "incrementalUpdates: false failing with "Fatal error: Cannot read property 'src' of undefined""
After finding that changing remote files (but not 'local' 'src' files) triggers a `No new files to push. If you want to force push all your files, set incrementalUpdates to true in your options.` response (which I mistakenly didn't expect at first, but now believe is normal behavior), I tried changing my config to `incrementalUpdates: false` (as `true` is the default and produced the same results

[2016-08-01 13:04] Robert-W commented on #47
Thanks @joeymigs for reporting this, that seems like it might be an issue. If there is a configuration error I generally try to give more helpful warnings. I'll test out the config later today and post some updates here.

In the meantime, you could always install the previous version since that does not have the incremental updates feature. `npm install grunt-ftp-push@1.0.0`.

[2016-08-02 04:47] Robert-W commented on #47
@joeymigs
Looks like this may be a configuration error. I will add some warnings to the next version that will make this a little easier to catch. You can see a sample configuration here: [https://github.com/Robert-W/grunt-ftp-push#overview](https://github.com/Robert-W/grunt-ftp-push#overview).  Your ftp_push configuration has two keys, an options and a test, you need to rename `test` to `files` a

[2016-08-02 16:22] PatrikValkovic commented on #42
I have got same problem.
Debian GNU/Linux 8 (jessie) (Linux 3.16.0-4-amd64)
npm 1.4.21
nodejs v0.10.29
After replaced file.posix with just file all worked for me.

[2016-08-03 05:12] joeymigs commented on #47
@Robert-W
Thanks very much for the quick attention! I just reinstalled the plugin and tried the test again as is (with both `test` and `options` as configuration keys), and it works exactly as I was expecting now (even without explicitly using the files array format)! I'd say this update did the trick!

Love the plugin--thanks for maintaining it!

[2016-08-03 13:55] Robert-W commented on #47
No problem, glad everything worked out (especially since its not using the files array format).

[2016-08-03 13:55] #47 closed

[2016-08-03 14:00] Robert-W commented on #42
@PatrikValkovic Thanks for reporting this, I will try to take a look this evening and see if I can figure out the issues and push out a patch so you don't have to make those changes anymore.

[2016-12-10 08:56] flowdee commented on #12
Would be great to get this soon 👍  @Robert-W

[2016-12-12 14:53] Robert-W commented on #12
@flowdee Hey, there was a PR up for this but the original publisher of that never updated his PR to add tests so it was eventually closed due to inactivity. I may see if I can revisit and pull out the relevant code from it to get this added in.  However, it may not be until closer to or right after the holidays before I can get to it.  If you need it sooner and are able to contribute I would love

[2016-12-12 15:03] andrewmcwatters commented on #12
This took so long to implement, it's almost completely irrelevant for me now, since it's entirely out of my workflow.

In the future, please focus on making things work rather than contributor "correctness" in a small project.

[2016-12-12 16:58] Robert-W commented on #12
@andrewmcwatters
Sorry for the delays, but a feature like wiping/syncing an entire remote directory could easily go horribly wrong and is not something I would be willing to deploy without tests in place to validate that it works exactly as configured.  If this isn't completely correct and someone wipes their entire ftp server because of a bug or a use case that was not tested for, that could be c

[2017-02-15 11:12] pavlovicnemanja opened #50 "DeprecationWarning Ftp.rawquit: Use Ftp.raw('quit args') instead."
Getting warning
 (node:5508) DeprecationWarning: Ftp.raw[quit](args): Use Ftp.raw('quit args') instead.

:)

[2017-02-15 14:50] Robert-W commented on #50
Thanks for pointing this out. If you have capacity to submit a PR I would appreciate it. Otherwise I will try to make the changes for this in the next few days.

[2017-08-04 21:37] Psykoral commented on #50
I've added https://github.com/Robert-W/grunt-ftp-push/pull/51to resolve this issue.

[2017-08-07 12:47] #50 closed

[2017-09-15 16:05] Wombosvideo opened #56 "Uploads just one file"
Uploads one file and then it hangs. It doesn't do any more. Just uploads one single file even if there are a dozen more in the directory. After around 5 to 10 minutes I get this error message.
[code]
which basically says nothing. I tried to debug the code and it seems to fail to execute "pasv" the second time though I wouldn't know why or how to fix it or anything.

I am running on the following c

[2017-09-20 13:04] Robert-W commented on #56
Hi @Wombosvideo,

Can you check if you are having any connection issues to your server? ECONNRESET typically means the connection with the server on the other side was abruptly closed. This can sometimes be caused by the ftp server being overloaded at that time or many other factors.

As far as your configuration is concerned, that looks fine and should not be the source of an issue, are these sma

[2017-09-24 10:13] Wombosvideo commented on #56
Connection is just fine and the server is fine too because I can upload 100 files in a row without disconnecting between uploads using my JAVA FTP uploader which I use now instead of this grunt module. Bug still exists but it doesn't bother me anymore. I guess the error is hiding in jsftp itself

[2017-09-25 18:20] Robert-W commented on #56
Ok, yea so ECONNRESET is a pretty generic error and can happen for many reasons.  If other FTP client's work it is possible that jsftp is having issues with the server and is unexpectedly dropping the connection. I have seen it work better or worse depending on what the domain is and other network settings.

I'll keep this open for now in case anyone else see's the same issue and then I can file s

[2017-12-26 09:24] olton opened #57 "Upload more then one source"
Hi!

[code]

Deployed only files stored in docs. Files from adsense folder not copied. How to correct deploy multiple sources? Folders docs and adsense place on one level.

Thanks.

[2017-12-27 19:31] cdmz opened #58 "cache for multiple connections"
After publishing in DEVI can no longer send for production.
The DEV cache interferes with other environments.

Ex:
ftp_push: {
    dev: {
      options: {},
      files: [{}]
    },
    prod: {
      options: {},
      files: [{}]
    },
    homolog: {
      options: {},
      files: [{}]
    }
  }

[2021-01-12 16:53] aliahdab opened #59 "could we add exclusions"
I am using this beautiful NPM package in 2021 however I am missing one feature in this package

could we add exclusions

exclusions: ['path/to/source/folder/**/.DS_Store', 'path/to/source/folder/**/Thumbs.db', 'path/to/dist/tmp']

[2022-04-02 21:18] M00rphy commented on #56
I'm having this exact same problem

[2022-04-14 09:02] Wombosvideo commented on #56
The problem very likely is still on the server-side, even though normal FTP works fine in a client like FileZilla or sorts. The provider I use implements its own FTP server which is strongly regulated due to security reasons. Maybe one of these "security features" is preventing multiple file transfers at once.

I personnally do not use `grunt-ftp-push` anymore because I moved to a more production